{% extends "base.html" %}

{% load user_in %}

{% block seguidores %}{% endblock seguidores %}

{% block principal %}
  <div class="col s12 m8 l6 offset-m2 offset-l3 ">
    <ul class="collection">
      {% for profile in object_list %}
        {% if profile.usuario.id != request.user.id %}
          <li class="collection-item avatar">
            <img src="{{ profile.foto.url }}" alt="" class="circle">
            <a href="{% url 'perfil' profile.usuario.username %}" class="title">{{ profile.usuario.username.title }}</a>
            <p>
              Seguidores: {{ profile.seguidores.count }} | Seguindo: {{ profile.seguindo.count }}
              <br>
              Piados: {{ profile.piados.count }}
            </p>
            <a href="{% url 'follow' profile.usuario.id %}" class="secondary-content">
              <i class="material-icons">
                {% if profile.usuario|exists:request.user.perfil.seguindo.all %}
                  favorite
                {% else %}
                  favorite_border
                {% endif %}
              </i>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock principal %}
